<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Lingad Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('list_protein') }}">Protein</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ligands') }}">Ligand</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dataset') }}">Dataset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h2 class="mb-4">Add Lingad Data</h2>

        <form method="POST" action="">
            <div class="form-group">
                <label for="code">Code:</label>
                <input type="text" class="form-control" id="code" name="code" required>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="identifiers">Identifiers:</label>
                <textarea class="form-control" id="identifiers" name="identifiers" required></textarea>
            </div>
            <div class="form-group">
                <label for="formula">Formula:</label>
                <input type="text" class="form-control" id="formula" name="formula" required>
            </div>
            <div class="form-group">
                <label for="molecular_weight">Molecular Weight:</label>
                <input type="text" class="form-control" id="molecular_weight" name="molecular_weight" required>
            </div>
            <div class="form-group">
                <label for="lingad_type">Lingad Type:</label>
                <input type="text" class="form-control" id="lingad_type" name="lingad_type" required>
            </div>
            <div class="form-group">
                <label for="additional_info">Additional Information:</label>
                <textarea class="form-control" id="additional_info" name="additional_info" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Data</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>